.fphc-btn {
    background: inherit;
    cursor: pointer;
}

.fphc-btn__layer {
    display: flex;
    align-items: center;
}

.fphc-btn_simple {
    color: #666;
    font-size: 0.875rem;
    font-weight: 400;
    letter-spacing: 0.071em;
    text-transform: uppercase;
    line-height: 2.85;
}

.fphc-btn_simple:hover, .fphc-btn_simple:focus {
    color: #e4ae58;
}

.fphc-btn_theme-label {
    color: #333;
    text-shadow: 1px 1px #fff;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1.45;
    letter-spacing: 0.0417em;
    background: none;
}

.fphc-btn_theme-start {
    border: 3px solid #333;
    border-radius: 100px;
    color: #333;
    font-size: 0.8125rem;
    font-weight: bold;
    letter-spacing: 0.123em;
    padding: 15px 40px;
    text-transform: uppercase;
}