.fphc-burger-nav{
    cursor: pointer;
}

.fphc-burger-nav__sum{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px;
}

.fphc-burger-nav__sum::-webkit-details-marker {
    display: none;
}

.fphc-burger-nav__sum:before{
    content: "\2630";
    color: #333;
    text-shadow: 1px 1px #fff;
    font-size: 2rem;
}

.fphc-burger-nav[open] .fphc-burger-nav__sum:before{
    display: none;
}

.fphc-burger-nav__sum:focus{
    outline: 0;
}

.fphc-burger-nav__sum_grey-theme{
    color: #333;
    text-shadow: 1px 1px #fff;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1.45;
    letter-spacing: 0.0417em;
    background: none;
}