.fphc-feedback-form__layer {
    display: flex;
    flex-direction: column;
}

.fphc-feedback-form__element {
    margin: 10px 0 25px 0;
    padding: 0 0 12px 12px;
    border: 0;
    border-bottom: 1px solid #E3AE57;
    background-color: inherit;
}

.fphc-feedback-form__element::placeholder {
    opacity: 1;
    font-family: "Source Sans Pro", sans-serif, Verdana;
    font-size: 1.125rem;
    font-weight: 300;
    color: #FFF;
}

.fphc-feedback-form__btn {
    margin-left: 15px;
    margin-top: 10px;
    min-height: 45px;
    min-width: 380px;
    border: 0;
    border-radius: 25px;
    cursor: pointer;
    background-color: #FFF;
    font-family: "Source Sans Pro", sans-serif, Verdana;
    font-size: 1.125em;
    color: #333;
    font-weight: 300;
}

.fphc-feedback-form__btn:hover, .fphc-feedback-form__btn:focus {
    background-color: #000;
    color: #FFF;
}