.fphc-header__layer {
    display: flex;
    flex-direction: row;
    width: 100%;
    background: #f0e2d7;
}

.fphc-header__home {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    background: url('../img/5.jpg') no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    width: 50%;
    height: 100vh;
    background-attachment: scroll;
    background-size: cover;
}

.fphc_header__top-layer {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 999;
}

.fphc-header__logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.fphc-header__intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 50%;
    min-height: 500px;
}

.fphc-header__nav {
    width: 50%;
}

.fphc-header__burger-nav {
    display: none;
}

.fphc-header__intro-text {
    margin: 0 45px;
}

.fphc-header__start-btn {
    margin-top: 70px;
    margin-left: 45px;
}