.fphc-main__layer {
    display: flex;
    flex-direction: column;
}

.fphc-main__row {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.fphc-main__about {
    display: flex;
    flex-direction: row;
    width: 50%;
    min-height: 350px;
}

.fphc-main__about-text {
    display: flex;
    flex-direction: column;
    margin: 22px 38px 32px;
    min-height: 350px;
}

.fphc-main__skills {
    display: flex;
    flex-direction: row;
    width: 50%;
    min-height: 350px;
}

.fphc-main__skills-img {
    width: 50%;
    min-height: 350px;
    background: url('../img/1.jpg') no-repeat;
    background-position: 50% 0;
    background-attachment: scroll;
    background-size: cover;
}

.fphc-main__skills-view {
    width: 50%;
    min-height: 350px;
    background: #e4ae58;
}

.fphc-main__skills-details {
    width: 25%;
    min-height: 300px;
}

.fphc-main__skills-details-text {
    display: flex;
    flex-direction: column;
    margin: 52px 40px;
}

.fphc-main__skills-details_gold {
    background-color: #e4ae58;
}

.fphc-main__skills-details_darkgold {
    background-color: #8a6918;
}

.fphc-main__skills-details_orange {
    background-color: #e9714c;
}

.fphc-main__skills-details_grey {
    background-color: #161616;
}

.fphc-main__exp-img {
    width: 50%;
    min-height: 400px;
    background: url('../img/4.jpg') no-repeat;
    background-position: 50% 0;
    background-attachment: scroll;
    background-size: cover;
}

.fphc-main__exp-text {
    width: 50%;
    min-height: 400px;
    background-color: #e9714c;
}

.fphc-main__exp-text-layer {
    margin: 22px 0 42px 57px;
}

.fphc-main__edu-text-layer {
    margin: 22px 0 42px 57px;
}

.fphc-main__edu-img {
    width: 50%;
    min-height: 400px;
    background: url('../img/3.jpg') no-repeat;
    background-position: 50% 0;
    background-attachment: scroll;
    background-size: cover;
}

.fphc-main__edu-text {
    width: 50%;
    min-height: 400px;
    background-color: #e4ae58;
}

.fphc-main__testimonial {
    width: 100%;
    min-height: 480px;
    background: url('../img/6.jpg') no-repeat;
    background-position: 50% 50%;
    background-attachment: scroll;
    background-size: cover;
    position: relative;
}

.fphc-main__testimonial-layer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: #121212;
    opacity: 0.7;
    position: absolute;
}

.fphc-main__testimonial-text {
    width: 50%;
}

.fphc-main__contact {
    display: flex;
    flex-direction: row;
    min-height: 750px;
    width: 100%;
}

.fphc-main__feedback {
    display: flex;
    flex-direction: column;
    width: 50%;
    min-height: 750px;
    background-color: #e9714c;
}

.fphc-main__feedback-text {
    margin: 22px 47px 0 32px;
    height: 120px;
}

.fphc-main__feedback-form {
    margin: 22px 47px 0 32px;
}

.fphc-main__feedback-img {
    width: 25%;
    min-height: 750px;
    background: url('../img/2.jpg') no-repeat;
    background-position: 50% 50%;
    background-attachment: scroll;
    background-size: cover;
}

.fphc-main__contact-info {
    width: 25%;
    min-height: 750px;
    background-color: #161616;
}

.fphc-main__office-text {
    margin: 20px 0 0 47px;
}

.fphc-main__contact-text {
    margin: 15px 0 0 47px;
}