.fphc-nav__layer{
    display: flex;
    align-content: center;
    justify-content:center;
    min-height: 60px;
    width: 100%;
}

.fphc-nav__bar{
    display: flex;
    align-content: center;
    justify-content:space-between;
}

.fphc-nav__list{
    display: flex;
    flex-direction: row;
    align-self: center;
}

@media screen and (max-width: 600px){
    .fphc-nav__list {
        flex-direction: column;
    }
 }

.fphc-nav__list-element{
    margin: 0 15px;
}