.t6-sprite {
    background: url("../img/spice-social-gadget-sprite.png");
}

.t6-sprite_size-m{
    margin: 9px;
    width: 32px;
    height: 32px;
    background-size: 352px 96px;
    border-radius: 8px;
}

.t6-sprite_border-grey{
    border: solid 1px #555;
}

.t6-sprite__facebook_theme-grey {
    background-position: 0 0;
 }

 .t6-sprite__flickr_theme-grey {
    background-position: -32px 0;
 }

 .t6-sprite__dribbble_theme-grey {
    background-position: -64px 0;
 }

 .t6-sprite__google_theme-grey {
    background-position: -96px 0;
 }

 .t6-sprite__linkedin_theme-grey {
    background-position: -128px 0;
 }

 .t6-sprite__pinterest_theme-grey {
    background-position: -160px 0;
 }

 .t6-sprite__news_theme-grey {
    background-position: -192px 0;
 }

 .t6-sprite__skype_theme-grey {
    background-position: -224px 0;
 }

 .t6-sprite__twitter_theme-grey {
    background-position: -256px 0;
 }

.t6-sprite__facebook_theme-color {
    background-position: 0px -32px;
 }

 .t6-sprite__flickr_theme-color {
    background-position: -32px -32px;
 }

 .t6-sprite__dribbble_theme-color {
    background-position: -64px -32px;
 }

 .t6-sprite__google_theme-color {
    background-position: -96px -32px;
 }

 .t6-sprite__linkedin_theme-color {
    background-position: -128px -32px;
 }

 .t6-sprite__pinterest_theme-color {
    background-position: -160px -32px;
 }

 .t6-sprite__news_theme-color {
    background-position: -192px -32px;
 }

 .t6-sprite__skype_theme-color {
    background-position: -224px -32px;
 }

 .t6-sprite__twitter_theme-color {
    background-position: -256px -32px;
 }


 .t6-sprite__facebook_theme-black {
    background-position: 0px -64px;
 }

 .t6-sprite__flickr_theme-black {
    background-position: -32px -64px;
 }

 .t6-sprite__dribbble_theme-black {
    background-position: -64px -64px;
 }

 .t6-sprite__google_theme-black {
    background-position: -96px -64px;
 }

 .t6-sprite__linkedin_theme-black {
    background-position: -128px -64px;
 }

 .t6-sprite__pinterest_theme-black {
    background-position: -160px -64px;
 }

 .t6-sprite__news_theme-black {
    background-position: -192px -64px;
 }

 .t6-sprite__skype_theme-black {
    background-position: -224px -64px;
 }
 
 .t6-sprite__twitter_theme-black {
    background-position: -256px -64px;
 }

